$main-color: #2c292d;
$main-color-light: #373538;

$second-color: #79e7ff;
$second-color-dark: #007792;

$third-color: #ffc479;
$third-color-light: #ffe3b3;
$third-color-dark: #c56004;

$fourth-color: #f8f5f5;

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	font-family: 'Arima Madurai';
}

html {
	font-size: 62.5%;
}

a {
	text-decoration: none;
}

body {
	background-color: $main-color;
}
